body {
    background-color: #f8f9fa; /* Light gray background */
    font-family: 'Arial', sans-serif;
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-header {
    background-color: #007bff; /* Bright Blue */
  }
  
  .btn-success {
    background-color: #28a745; /* Green for Add button */
    border: none;
  }
  
  .btn-success:hover {
    background-color: #218838; /* Darker Green on hover */
  }
  
  .list-group-item {
    background-color: #ffffff; /* White background for list items */
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  .btn-danger {
    background-color: #dc3545; /* Red for Remove button */
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c82333; /* Darker Red on hover */
  }
  .form-mrg{
    margin-top: 30px;
  }
  